openapi: 3.0.3
info:
  title: Floe Credit API
  description: |
    Working capital, x402 payments, and agent management for AI agents on Base.

    ## Authentication Methods

    - **Public endpoints** — no auth required (marked with `security: []`)
    - **Agent API key** — `Authorization: Bearer floe_...`
    - **Wallet signature** — EIP-191 signed message via X-Wallet-Address + X-Signature + X-Timestamp headers
    - **Developer session** — `Authorization: Bearer <jwt>` (from SIWE auth flow)
    - **Admin API key** — `Authorization: Bearer <admin-key>`
  version: 1.1.0
  contact:
    name: Floe Labs
    url: https://floefinance.com
    email: hello@floefinance.com

servers:
  - url: https://credit-api.floelabs.xyz
    description: Production (Base Mainnet)

security:
  - agentApiKey: []

tags:
  - name: Public
    description: No authentication required
  - name: Credit
    description: Lending operations (wallet signature auth)
  - name: x402 Proxy
    description: x402 payment proxy (agent API key auth)
  - name: x402 Estimate
    description: Cost preflight (agent API key auth)
  - name: Agent
    description: Agent self-service (agent API key auth)
  - name: Developer
    description: Dashboard multi-agent management (JWT session)
  - name: Admin
    description: Operations (admin API key)

paths:
  /.well-known/openapi.yaml:
    get:
      tags: [Public]
      summary: This OpenAPI spec
      operationId: getOpenApiSpec
      security: []
      responses:
        "200":
          description: OpenAPI 3.0 YAML
          content:
            text/yaml:
              schema:
                type: string

  /v1/health:
    get:
      tags: [Public]
      summary: Health check
      operationId: getHealth
      security: []
      responses:
        "200":
          description: Service healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [ok, degraded]
                  checks:
                    type: object
                    properties:
                      db:
                        $ref: "#/components/schemas/CheckResult"
                      privy:
                        $ref: "#/components/schemas/CheckResult"
                      envio:
                        $ref: "#/components/schemas/CheckResult"
                  timestamp:
                    type: string
                    format: date-time

  /v1/status:
    get:
      tags: [Public]
      summary: Aggregated status (cached 30s)
      operationId: getStatus
      security: []
      responses:
        "200":
          description: System status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SystemStatus"

  /v1/markets:
    get:
      tags: [Public]
      summary: List lending markets
      operationId: getMarkets
      security: []
      responses:
        "200":
          description: Active markets
          content:
            application/json:
              schema:
                type: object
                properties:
                  markets:
                    type: array
                    items:
                      $ref: "#/components/schemas/Market"

  /v1/credit/offers:
    get:
      tags: [Public]
      summary: Browse lend offers
      operationId: getCreditOffers
      security: []
      parameters:
        - name: marketId
          in: query
          schema:
            type: string
            pattern: "^0x[a-fA-F0-9]{64}$"
          description: bytes32 market ID. Omit for all markets.
        - name: minAmount
          in: query
          schema:
            type: string
        - name: maxRateBps
          in: query
          schema:
            type: string
        - name: maxResults
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: Available offers
          content:
            application/json:
              schema:
                type: object
                properties:
                  offers:
                    type: array
                    items:
                      $ref: "#/components/schemas/LendOffer"
        "400":
          description: Invalid marketId or param format

  /v1/credit/instant-borrow:
    post:
      tags: [Credit]
      summary: Build unsigned borrow transactions
      operationId: instantBorrow
      security:
        - walletAddress: []
          walletSignature: []
          walletTimestamp: []
      parameters:
        - name: Idempotency-Key
          in: header
          schema:
            type: string
            maxLength: 255
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InstantBorrowRequest"
      responses:
        "200":
          description: Unsigned transactions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BorrowResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: No liquidity
        "409":
          description: Idempotency conflict

  /v1/credit/status/{loanId}:
    get:
      tags: [Credit]
      summary: Loan status and health
      operationId: getCreditStatus
      security:
        - walletAddress: []
          walletSignature: []
          walletTimestamp: []
      parameters:
        - name: loanId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Loan status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoanStatus"
        "404":
          description: Loan not found

  /v1/credit/repay:
    post:
      tags: [Credit]
      summary: Build unsigned repay transaction
      operationId: repayCredit
      security:
        - walletAddress: []
          walletSignature: []
          walletTimestamp: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [loanId]
              properties:
                loanId:
                  type: string
                slippageBps:
                  type: string
      responses:
        "200":
          description: Unsigned repay transactions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionResult"

  /v1/credit/repay-and-reborrow:
    post:
      tags: [Credit]
      summary: Repay and reborrow atomically
      operationId: repayAndReborrow
      security:
        - walletAddress: []
          walletSignature: []
          walletTimestamp: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RenewRequest"
      responses:
        "200":
          description: Repay + reborrow transactions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionResult"

  /v1/credit/borrow-attempts/{attemptId}:
    get:
      tags: [Credit]
      summary: Recover borrow attempt status
      operationId: getBorrowAttempt
      security:
        - walletAddress: []
          walletSignature: []
          walletTimestamp: []
      parameters:
        - name: attemptId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Attempt status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BorrowResult"
        "404":
          description: Not found
        "503":
          description: Service unavailable

  /v1/credit/borrow-attempts/{attemptId}/resume:
    post:
      tags: [Credit]
      summary: Resume stalled borrow attempt
      operationId: resumeBorrowAttempt
      security:
        - walletAddress: []
          walletSignature: []
          walletTimestamp: []
      parameters:
        - name: attemptId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Resumed transactions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionResult"

  /v1/credit/borrow-attempts/{attemptId}/abandon:
    post:
      tags: [Credit]
      summary: Abandon borrow attempt
      operationId: abandonBorrowAttempt
      security:
        - walletAddress: []
          walletSignature: []
          walletTimestamp: []
      parameters:
        - name: attemptId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Cleanup transactions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionResult"

  /v1/proxy/check:
    get:
      tags: [Public]
      summary: Check if URL requires x402 payment
      operationId: proxyCheck
      security: []
      parameters:
        - name: url
          in: query
          required: true
          schema:
            type: string
            format: uri
      responses:
        "200":
          description: Payment check result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProxyCheckResult"
        "400":
          description: Invalid or blocked URL
        "429":
          description: Rate limit exceeded

  /v1/proxy/fetch:
    post:
      tags: [x402 Proxy]
      summary: Proxy request with automatic x402 payment
      operationId: proxyFetch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProxyFetchRequest"
      responses:
        "200":
          description: Target response (passthrough or paid)
          content:
            "*/*":
              schema:
                type: string
                format: binary
        "400":
          description: Invalid request or blocked URL
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          description: Insufficient balance or spend limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum: [insufficient_balance, spend_limit_exceeded]
                  available:
                    type: string
                  required:
                    type: string
        "403":
          description: Agent suspended or credit frozen
        "429":
          description: Rate limit exceeded
        "502":
          description: Target unreachable or ambiguous payment

  /v1/x402/estimate:
    post:
      tags: [x402 Estimate]
      summary: Preflight cost estimate with credit reflection
      operationId: estimateX402Cost
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url]
              properties:
                url:
                  type: string
                  format: uri
                method:
                  type: string
                  pattern: "^[A-Z]{3,7}$"
      responses:
        "200":
          description: Cost estimate with reflection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/X402Estimate"
        "429":
          description: Rate limit exceeded

  /v1/agents/balance:
    get:
      tags: [Agent]
      summary: Balance and credit facility info
      operationId: getAgentBalance
      responses:
        "200":
          description: Balance details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentBalance"

  /v1/agents/credit-remaining:
    get:
      tags: [Agent]
      summary: Credit headroom for decision gates
      operationId: getCreditRemaining
      responses:
        "200":
          description: Credit remaining
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreditRemaining"

  /v1/agents/loan-state:
    get:
      tags: [Agent]
      summary: Coarse loan state machine
      operationId: getLoanState
      responses:
        "200":
          description: Current state
          content:
            application/json:
              schema:
                type: object
                properties:
                  state:
                    type: string
                    enum: [idle, borrowing, repaying, at_limit]
                  reason:
                    type: string
                  details:
                    type: object

  /v1/agents/transactions:
    get:
      tags: [Agent]
      summary: Paginated payment history
      operationId: getAgentTransactions
      parameters:
        - name: cursor
          in: query
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 100
      responses:
        "200":
          description: Transaction list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionList"

  /v1/agents/spend-limit:
    get:
      tags: [Agent]
      summary: Get session spend limit
      operationId: getSpendLimit
      responses:
        "200":
          description: Spend limit state
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SpendLimit"
    put:
      tags: [Agent]
      summary: Set session spend limit (resets window)
      operationId: setSpendLimit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [limitRaw]
              properties:
                limitRaw:
                  type: string
                  pattern: "^\\d+$"
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SpendLimit"
    delete:
      tags: [Agent]
      summary: Remove session spend limit
      operationId: deleteSpendLimit
      responses:
        "200":
          description: Removed
          content:
            application/json:
              schema:
                type: object
                properties:
                  active:
                    type: boolean
                    enum: [false]

  /v1/agents/credit-thresholds:
    get:
      tags: [Agent]
      summary: List credit threshold subscriptions
      operationId: getCreditThresholds
      responses:
        "200":
          description: Subscriptions
          content:
            application/json:
              schema:
                type: object
                properties:
                  subscriptions:
                    type: array
                    items:
                      $ref: "#/components/schemas/CreditThreshold"
    post:
      tags: [Agent]
      summary: Create credit threshold subscription
      operationId: createCreditThreshold
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [thresholdBps]
              properties:
                thresholdBps:
                  type: integer
                  minimum: 1
                  maximum: 10000
                webhookId:
                  type: integer
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreditThreshold"
        "409":
          description: Limit reached (max 20)

  /v1/agents/credit-thresholds/{id}:
    delete:
      tags: [Agent]
      summary: Remove credit threshold
      operationId: deleteCreditThreshold
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted:
                    type: integer

  /v1/agents/close:
    post:
      tags: [Agent]
      summary: Wind down agent
      operationId: closeAgent
      responses:
        "200":
          description: Winddown status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CloseResult"

  /v1/developer/agents:
    get:
      tags: [Developer]
      summary: List managed agents
      operationId: devListAgents
      security:
        - developerSession: []
      responses:
        "200":
          description: Agent list
          content:
            application/json:
              schema:
                type: object
                properties:
                  agents:
                    type: array
                    items:
                      $ref: "#/components/schemas/ManagedAgent"
    post:
      tags: [Developer]
      summary: Create managed agent
      operationId: devCreateAgent
      security:
        - developerSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, borrowLimitRaw, maxRateBps, expirySeconds]
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 64
                  pattern: "^[A-Za-z0-9 _-]+$"
                borrowLimitRaw:
                  type: string
                maxRateBps:
                  type: integer
                  minimum: 1
                  maximum: 10000
                expirySeconds:
                  type: integer
                  minimum: 60
                  maximum: 31536000
      responses:
        "201":
          description: Agent created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ManagedAgent"
        "409":
          description: Max agents (5) or name conflict

  /v1/developer/agents/{agentId}:
    get:
      tags: [Developer]
      summary: Get agent detail
      operationId: devGetAgent
      security:
        - developerSession: []
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Agent detail with credit usage + recent activity snapshot
          content:
            application/json:
              schema:
                type: object
                properties:
                  agent:
                    $ref: "#/components/schemas/ManagedAgent"
                  creditUsed:
                    type: string
                  recentTransactionCount24h:
                    type: integer
                  sessionSpend:
                    type: object
                    properties:
                      limitRaw:
                        type: string
                        nullable: true
                      startedAtUnix:
                        type: integer
                        nullable: true
        "404":
          description: Agent not found or not owned by caller

  /v1/developer/agents/{agentId}/close:
    post:
      tags: [Developer]
      summary: Wind an agent down (repay loans, sweep USDC, mark closed)
      description: |
        Triggers the wind-down service: repays all active facility loans for
        the agent via the facilitator, transfers any remaining USDC from the
        agent's Privy wallet back to the developer, and marks the agent
        `closed`. Idempotent — calling on an already-closed agent returns
        `{ status: 'closed', loansRepaid: 0, loansRemaining: 0 }`.

        This is the only path that fully retires an agent. `floe-agent revoke`
        only revokes the API key; the operator permission, active loans, and
        on-chain state are untouched.
      operationId: devCloseAgent
      security:
        - developerSession: []
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Wind-down result
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [closed]
                  loansRepaid:
                    type: integer
                  loansRemaining:
                    type: integer
                  repayTxHashes:
                    type: array
                    items:
                      type: string
                  transferTxHash:
                    type: string
                    nullable: true
                  usdcTransferred:
                    type: string
                    nullable: true
        "404":
          description: Agent not found or not owned by caller
        "500":
          description: winddown_failed (inspect detail; the agent stays in its prior state)
        "503":
          description: winddown_unavailable (WinddownService not configured)

  /v1/developer/agents/{agentId}/keys:
    post:
      tags: [Developer]
      summary: Mint API key for agent
      operationId: devCreateKey
      security:
        - developerSession: []
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: string
                  maxLength: 100
                permissions:
                  type: string
                  enum: [read, read_write]
      responses:
        "201":
          description: Key created (fullKey shown once)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKey"
        "409":
          description: Max 5 active keys per agent

  /v1/developer/agents/{agentId}/keys/{keyId}:
    delete:
      tags: [Developer]
      summary: Revoke API key
      operationId: devRevokeKey
      security:
        - developerSession: []
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            type: integer
        - name: keyId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Revoked
          content:
            application/json:
              schema:
                type: object
                properties:
                  revoked:
                    type: boolean

  /v1/developer/agents/{agentId}/keys/{keyId}/rotate:
    post:
      tags: [Developer]
      summary: Atomic key rotation (revoke + mint)
      operationId: devRotateKey
      security:
        - developerSession: []
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            type: integer
        - name: keyId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "201":
          description: New key (fullKey shown once)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKey"

  /v1/developer/agents/{agentId}/open-credit-line:
    post:
      tags: [Developer]
      summary: Open a managed agent's USDC/USDC credit line
      description: |
        Server-signs registerBorrowIntent from the agent's managed Privy wallet,
        creating an in-flight facility_loans row that the existing reconciler
        + solver advance to status='active' asynchronously. The agent's Privy
        wallet must hold at least `depositRaw` USDC before this is called.

        USDC/USDC same-token market only. Borrow amount is
        `depositRaw * maxLtvBps / 10000` (default 95%).

        The response shape returns the in-flight row's id + the on-chain
        registerTxHash. `borrowIntentHash` is null on initial return — the
        reconciler fills it in after the receipt confirms and parses
        LogBorrowerOfferPosted. Once the solver matches the intent against
        an open lend offer, status flips to 'active' and BalanceService
        starts including the loan in `creditIn` for paid /proxy/fetch calls.
      operationId: devOpenCreditLine
      security:
        - developerSession: []
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [depositRaw]
              properties:
                depositRaw:
                  type: string
                  pattern: "^[1-9]\\d*$"
                  description: USDC deposit amount, raw 6-decimal units (e.g. "10000000000" = $10K).
                maxLtvBps:
                  type: integer
                  minimum: 1
                  maximum: 9500
                  description: Optional LTV cap in bps. Defaults to 9500 (95%).
                maxRateBps:
                  type: integer
                  minimum: 1
                  maximum: 10000
                  description: Optional max interest rate ceiling. Defaults to the agent's `maxRateBps`.
      responses:
        "201":
          description: Credit-line opening submitted; awaiting solver match
          content:
            application/json:
              schema:
                type: object
                properties:
                  loanId:
                    type: string
                    description: Synthetic placeholder `pending:<uuid>` until the on-chain loanId is recorded.
                  borrowIntentHash:
                    type: string
                    nullable: true
                  approveTxHash:
                    type: string
                    nullable: true
                    description: Null when the Privy wallet's existing allowance was already sufficient.
                  registerTxHash:
                    type: string
                  principalRaw:
                    type: string
                  collateralAmountRaw:
                    type: string
                  rateBps:
                    type: integer
                  status:
                    type: string
                    enum: [pending_on_chain]
        "400":
          description: invalid input | insufficient_privy_balance | agent_not_managed | invalid_max_ltv | invalid_deposit
        "404":
          description: Agent not found or not owned by caller
        "409":
          description: agent_not_active | delegation_expired | existing_active_credit_line
        "502":
          description: rpc_read_failed | market_not_created | privy_send_failed
        "503":
          description: ManagedCreditLineService not initialized (Privy missing)

  /v1/admin/agents:
    get:
      tags: [Admin]
      summary: List all agents with balances
      operationId: adminListAgents
      security:
        - adminApiKey: []
      responses:
        "200":
          description: Agent list
          content:
            application/json:
              schema:
                type: object
                properties:
                  agents:
                    type: array
                    items:
                      $ref: "#/components/schemas/AdminAgent"

  /v1/admin/agents/{id}:
    patch:
      tags: [Admin]
      summary: Suspend or activate agent
      operationId: adminPatchAgent
      security:
        - adminApiKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [active, suspended]
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  status:
                    type: string

components:
  securitySchemes:
    walletAddress:
      type: apiKey
      in: header
      name: X-Wallet-Address
      description: Agent wallet address (0x...)
    walletSignature:
      type: apiKey
      in: header
      name: X-Signature
      description: EIP-191 signature of "Floe Credit API\nTimestamp:{ts}"
    walletTimestamp:
      type: apiKey
      in: header
      name: X-Timestamp
      description: Unix timestamp (within 5 min of server time)
    agentApiKey:
      type: http
      scheme: bearer
      description: Agent API key (floe_...)
    adminApiKey:
      type: http
      scheme: bearer
      description: Admin API key
    developerSession:
      type: http
      scheme: bearer
      description: JWT session token (from SIWE auth)

  schemas:
    CheckResult:
      type: object
      properties:
        status:
          type: string
          enum: [ok, degraded, down]

    Market:
      type: object
      properties:
        marketId:
          type: string
        loanToken:
          type: object
          properties:
            address:
              type: string
            symbol:
              type: string
            decimals:
              type: integer
        collateralToken:
          type: object
          properties:
            address:
              type: string
            symbol:
              type: string
            decimals:
              type: integer
        isActive:
          type: boolean

    SystemStatus:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
        overall:
          type: string
          enum: [operational, degraded, down]
        indexer:
          type: object
          properties:
            status:
              type: string
            lastUpdateTimestamp:
              type: integer
              nullable: true
            lagSeconds:
              type: integer
              nullable: true
        oracle:
          type: object
          properties:
            status:
              type: string
            circuitBreaker:
              type: object
              properties:
                isActive:
                  type: boolean
                reason:
                  type: integer
                reasonText:
                  type: string
            prices:
              type: array
              items:
                type: object
                properties:
                  symbol:
                    type: string
                  priceUsd:
                    type: string
                  isStale:
                    type: boolean
        markets:
          type: array
          items:
            type: object
            properties:
              marketId:
                type: string
              loanToken:
                type: string
              collateralToken:
                type: string
              availableLiquidityUsd:
                type: string
              totalTvlUsd:
                type: string
              activeLoanCount:
                type: integer
        activity:
          type: object
          properties:
            matchesLast24h:
              type: integer
            totalMatches:
              type: integer
            avgTimeToMatchSeconds:
              type: number

    LendOffer:
      type: object
      properties:
        lender:
          type: string
        amount:
          type: string
        filledAmount:
          type: string
        minInterestRateBps:
          type: string
        maxLtvBps:
          type: string
        minDuration:
          type: string
        maxDuration:
          type: string
        expiry:
          type: string
        marketId:
          type: string

    InstantBorrowRequest:
      type: object
      required: [marketId, borrowAmount, collateralAmount, maxInterestRateBps, duration]
      properties:
        marketId:
          type: string
          pattern: "^0x[a-fA-F0-9]{64}$"
        borrowAmount:
          type: string
        collateralAmount:
          type: string
        maxInterestRateBps:
          type: string
        duration:
          type: string
        minLtvBps:
          type: string
          default: "8000"
        maxLtvBps:
          type: string
          default: "8500"
        matcherCommissionBps:
          type: string

    BorrowResult:
      type: object
      properties:
        attemptId:
          type: string
        reused:
          type: boolean
        status:
          type: string
        transactions:
          type: array
          items:
            $ref: "#/components/schemas/UnsignedTransaction"
        selectedOffer:
          type: object

    UnsignedTransaction:
      type: object
      properties:
        to:
          type: string
        data:
          type: string
        value:
          type: string

    LoanStatus:
      type: object
      description: Loan status and health metrics
      properties:
        loanId:
          type: string
        borrower:
          type: string
        lender:
          type: string
        principal:
          type: string
        collateralAmount:
          type: string
        interestRateBps:
          type: string
        ltvBps:
          type: string
        liquidationLtvBps:
          type: string
        startTime:
          type: integer
        duration:
          type: integer
        repaid:
          type: boolean
        accruedInterest:
          type: string
        totalDebt:
          type: string
        currentLtvBps:
          type: string
        isHealthy:
          type: boolean
        isOverdue:
          type: boolean
        earlyRepaymentTerms:
          type: object
          properties:
            gracePeriod:
              type: string
            minInterestBps:
              type: string
            fullTermInterest:
              type: string
            earlyRepaymentPenalty:
              type: string
            totalRepaymentIfRepaidNow:
              type: string

    TransactionResult:
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: "#/components/schemas/UnsignedTransaction"

    RenewRequest:
      type: object
      required: [loanId]
      properties:
        loanId:
          type: string
        newBorrowAmount:
          type: string
        newCollateralAmount:
          type: string
        maxInterestRateBps:
          type: string
        duration:
          type: string
        minLtvBps:
          type: string
        repaySlippageBps:
          type: string

    ProxyCheckResult:
      type: object
      properties:
        x402:
          type: boolean
        status:
          type: integer
        message:
          type: string
        payment:
          type: object
          properties:
            amount:
              type: string
            asset:
              type: string
            payTo:
              type: string
            network:
              type: string

    ProxyFetchRequest:
      type: object
      required: [url]
      properties:
        url:
          type: string
          format: uri
        method:
          type: string
          default: GET
          enum: [GET, POST, PUT, PATCH, DELETE, HEAD]
        headers:
          type: object
          additionalProperties:
            type: string
        body:
          type: string

    X402Estimate:
      type: object
      properties:
        maxAmountRequired:
          type: string
        asset:
          type: string
        payTo:
          type: string
        network:
          type: string
        reflection:
          type: object
          properties:
            creditLimit:
              type: string
              nullable: true
            creditOut:
              type: string
            available:
              type: string
            headroomToAutoBorrow:
              type: string
            utilizationBps:
              type: number

    AgentBalance:
      type: object
      properties:
        status:
          type: string
          description: Only present if agent is closed
        balance:
          type: string
        privyWalletAddress:
          type: string
        creditLimit:
          type: string
        creditUsed:
          type: string
        creditAvailable:
          type: string
        activeLoans:
          type: array
          items:
            type: object
            properties:
              loanId:
                type: string
              borrowAmount:
                type: string
              status:
                type: string
        delegationActive:
          type: boolean
        operatorExpiry:
          type: string
          nullable: true
          format: date-time
        remainingLoans:
          type: array
          description: Only present when status=closed
          items:
            type: object
            properties:
              loanId:
                type: string
              principalRaw:
                type: string

    CreditRemaining:
      type: object
      properties:
        available:
          type: string
        creditIn:
          type: string
        creditOut:
          type: string
        creditLimit:
          type: string
          nullable: true
        headroomToAutoBorrow:
          type: string
        utilizationBps:
          type: number
        sessionSpendLimit:
          type: string
          nullable: true
        sessionSpent:
          type: string
        sessionSpendRemaining:
          type: string
          nullable: true
        asOf:
          type: string
          format: date-time

    SpendLimit:
      type: object
      properties:
        active:
          type: boolean
        limitRaw:
          type: string
          nullable: true
        sessionStartedAt:
          type: string
          format: date-time
          description: Only present when active=true
        sessionSpentRaw:
          type: string
        sessionRemainingRaw:
          type: string

    CreditThreshold:
      type: object
      properties:
        id:
          type: integer
        thresholdBps:
          type: integer
        lastState:
          type: string
          nullable: true
        lastFiredAt:
          type: string
          nullable: true
          format: date-time
        webhookId:
          type: integer
          nullable: true

    CloseResult:
      type: object
      properties:
        status:
          type: string
          enum: [closed, winding_down]
        loansRepaid:
          type: integer
        loansRemaining:
          type: integer
        repayTxHashes:
          type: array
          items:
            type: string
        transferTxHash:
          type: string
        usdcTransferred:
          type: string
        remainingLoans:
          type: array
          items:
            type: object
            properties:
              loanId:
                type: string
              principalRaw:
                type: string

    TransactionList:
      type: object
      properties:
        transactions:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              agentId:
                type: string
              targetUrl:
                type: string
              method:
                type: string
              status:
                type: string
                enum: [pending, success, failed]
              paymentAmountRaw:
                type: string
                nullable: true
              paymentRecipient:
                type: string
                nullable: true
              responseStatusCode:
                type: integer
                nullable: true
              latencyMs:
                type: integer
                nullable: true
              x402TxHash:
                type: string
                nullable: true
              createdAt:
                type: string
                format: date-time
              updatedAt:
                type: string
                format: date-time
        nextCursor:
          type: integer
        hasMore:
          type: boolean

    ManagedAgent:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        agentWalletAddress:
          type: string
        status:
          type: string
        delegationActive:
          type: boolean
        privyWalletAddress:
          type: string
        delegationTxHash:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    ApiKey:
      type: object
      properties:
        id:
          type: integer
        keyPrefix:
          type: string
          description: First 8 chars
        fullKey:
          type: string
          description: Full key (shown once at creation)
        label:
          type: string
          nullable: true
        permissions:
          type: string
          enum: [read, read_write]
        createdAt:
          type: string
          format: date-time

    AdminAgent:
      type: object
      properties:
        id:
          type: string
        privyWalletAddress:
          type: string
        status:
          type: string
        balance:
          type: string
        creditLimit:
          type: string
          nullable: true
        creditUsed:
          type: string
        activeLoanCount:
          type: integer
        delegationActive:
          type: boolean
        createdAt:
          type: string
          format: date-time

    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        details:
          type: array
          items: {}

  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unauthorized:
      description: Missing or invalid authentication
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
