openapi: 3.0.3
info:
  title: Floe Credit API
  description: |
    Working capital, x402 payments, and agent management for AI agents on Base.

    ## Authentication Methods

    - **Public endpoints** — no auth required (marked with `security: []`)
    - **Agent API key** — `Authorization: Bearer floe_...` (runtime credential; pays for calls)
    - **Developer API key** — `Authorization: Bearer floe_live_...` (operator credential)
    - **Wallet signature** — EIP-191 signed message via X-Wallet-Address + X-Signature + X-Timestamp headers
    - **Developer session** — the `floe_session` HttpOnly cookie set by POST /v1/developer/auth/privy (dashboard email / Google sign-in, from a Privy access token) or POST /v1/developer/auth/verify (a wallet signature); `Authorization: Bearer <jwt>` is a legacy fallback
    - **Admin API key** — `Authorization: Bearer <admin-key>`

    Every `/v1/developer/*` route (and the money-movement surfaces `/v1/transfers`,
    `/v1/onramp`, `/v1/offramp`) accepts any DEVELOPER credential interchangeably:
    a `floe_live_*` developer key, the session cookie/JWT, or wallet-signature
    headers. Agent keys (`floe_*` without `_live_`) are runtime credentials and
    are refused on those surfaces with 403 `developer_credential_required`.

    **One exception: `POST /v1/developer/auth/verify`.** It MINTS a session, so
    it accepts a fresh wallet signature only. A developer key, an existing
    session cookie or JWT, and an agent key are each refused with 401 — trading
    a long-lived credential for a 7-day human session would sidestep the
    human-session checks that guard Checkout, Portal and Connect link minting.

    ## Webhooks

    Developer webhooks (`/v1/developer/webhooks*`) deliver platform events to
    your endpoint as JSON POSTs. Loan events (`loan.*`) keep their original
    envelope `{event, loanId, timestamp, data}`; every other event uses
    `{event, ...payload, firedAt}`. Each delivery carries three headers:

    - `X-Floe-Signature` — hex HMAC-SHA256 of `<timestamp>.<raw body>` keyed
      with the webhook's `whsec_*` secret
    - `X-Floe-Timestamp` — unix seconds; verify recency to reject replays
    - `X-Floe-Delivery-Id` — unique per delivery and STABLE across retries;
      receivers should dedupe on it

    Failed deliveries are retried automatically: up to 3 attempts total, the
    second +60s after the first failure and the third +300s after the second,
    then the delivery is marked `failed`. Test deliveries
    (`POST /v1/developer/webhooks/{id}/test`) are one-shot and never retried.
    Delivery log rows are retained for 30 days.

    Subscriptions accept the 41 catalog event names
    (`GET /v1/developer/webhooks/events`) plus wildcards: `*` or `<prefix>.*`
    (e.g. `call.*`). Scopes: `global` (every subscribed event), `wallet` /
    `agent` (events about one agent — scopeValue is the agent's 0x WALLET
    address, never the numeric agent id), `loan` (one numeric loan id).
    `marketplace.vendor.*` events are platform-wide broadcasts delivered to
    every subscribed webhook regardless of scope. Account-scoped events
    (`billing.*`, `client_invoice.*`, `stripe.*`) deliver to `global`
    webhooks and to `wallet` / `agent` webhooks whose scopeValue is the
    ACCOUNT wallet; their payloads carry `accountId` (the `acct_…` public
    account id), never the wallet.
  version: 1.3.0
  contact:
    name: Floe Labs
    url: https://floefinance.com
    email: hello@floefinance.com

servers:
  - url: https://credit-api.floelabs.xyz
    description: Production (Base Mainnet)

security:
  - agentApiKey: []

tags:
  - name: Public
    description: No authentication required
  - name: Credit
    description: Lending operations (wallet signature auth)
  - name: x402 Proxy
    description: x402 payment proxy (agent API key auth)
  - name: x402 Estimate
    description: Cost preflight (agent API key auth)
  - name: Agent
    description: Agent self-service (agent API key auth)
  - name: Developer
    description: Dashboard multi-agent management (any developer credential — session cookie, floe_live_ key, or wallet signature)
  - name: Gateway
    description: OpenAI-compatible keyless inference gateway (agent API key auth; flag-gated — probe /v1/capabilities)
  - name: Transfers
    description: Bidirectional wallet transfers (developer credential; agent keys refused)
  - name: Onramp
    description: CDP fiat onramp (developer credential; agent keys refused)
  - name: Offramp
    description: CDP fiat offramp (developer credential; agent keys refused)
  - name: Admin
    description: Operations (admin API key)
  - name: Counterparty
    description: A buyer on a shared business case (L0.8) — the floe_case_session cookie only; no developer credential

paths:
  /v1/status:
    get:
      tags: [Public]
      summary: Aggregated status (cached 30s)
      operationId: getStatus
      security: []
      responses:
        "200":
          description: System status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SystemStatus"

  /.well-known/openapi.yaml:
    get:
      tags: [Public]
      summary: This OpenAPI spec
      operationId: getOpenApiSpec
      security: []
      responses:
        "200":
          description: OpenAPI 3.0 YAML
          content:
            text/yaml:
              schema:
                type: string

  /v1/health:
    get:
      tags: [Public]
      summary: Health check
      operationId: getHealth
      security: []
      responses:
        "200":
          description: Service healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [ok, degraded]
                  checks:
                    type: object
                    properties:
                      db:
                        $ref: "#/components/schemas/CheckResult"
                      privy:
                        $ref: "#/components/schemas/CheckResult"
                      stripe:
                        allOf:
                          - $ref: "#/components/schemas/CheckResult"
                        description: >
                          `skipped` (reason `not_configured`) when
                          STRIPE_SECRET_KEY is unset; `degraded` — never
                          `down` — when the Stripe ping fails or exceeds 2 s,
                          so a Stripe blip cannot 503 this endpoint.
                  timestamp:
                    type: string
                    format: date-time

  /v1/markets:
    get:
      tags: [Public]
      summary: List lending markets
      operationId: getMarkets
      security: []
      responses:
        "200":
          description: Active markets
          content:
            application/json:
              schema:
                type: object
                properties:
                  markets:
                    type: array
                    items:
                      $ref: "#/components/schemas/Market"

  /v1/credit/offers:
    get:
      tags: [Public]
      summary: Browse lend offers
      operationId: getCreditOffers
      security: []
      parameters:
        - name: marketId
          in: query
          schema:
            type: string
            pattern: "^0x[a-fA-F0-9]{64}$"
          description: bytes32 market ID. Omit for all markets.
        - name: minAmount
          in: query
          schema:
            type: string
        - name: maxRateBps
          in: query
          schema:
            type: string
        - name: maxResults
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: Available offers
          content:
            application/json:
              schema:
                type: object
                properties:
                  offers:
                    type: array
                    items:
                      $ref: "#/components/schemas/LendOffer"
        "400":
          description: Invalid marketId or param format

  /v1/credit/instant-borrow:
    post:
      tags: [Credit]
      summary: Build unsigned borrow transactions
      operationId: instantBorrow
      security:
        - walletAddress: []
          walletSignature: []
          walletTimestamp: []
      parameters:
        - name: Idempotency-Key
          in: header
          schema:
            type: string
            maxLength: 255
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InstantBorrowRequest"
      responses:
        "200":
          description: Unsigned transactions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BorrowResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: No liquidity
        "409":
          description: Idempotency conflict

  /v1/credit/status/{loanId}:
    get:
      tags: [Credit]
      summary: Loan status and health
      operationId: getCreditStatus
      security:
        - walletAddress: []
          walletSignature: []
          walletTimestamp: []
      parameters:
        - name: loanId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Loan status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoanStatus"
        "404":
          description: Loan not found

  /v1/credit/repay:
    post:
      tags: [Credit]
      summary: Build unsigned repay transaction
      operationId: repayCredit
      security:
        - walletAddress: []
          walletSignature: []
          walletTimestamp: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [loanId]
              properties:
                loanId:
                  type: string
                slippageBps:
                  type: string
      responses:
        "200":
          description: Unsigned repay transactions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionResult"

  /v1/credit/repay-and-reborrow:
    post:
      tags: [Credit]
      summary: Repay and reborrow atomically
      operationId: repayAndReborrow
      security:
        - walletAddress: []
          walletSignature: []
          walletTimestamp: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RenewRequest"
      responses:
        "200":
          description: Repay + reborrow transactions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionResult"

  /v1/credit/borrow-attempts/{attemptId}:
    get:
      tags: [Credit]
      summary: Recover borrow attempt status
      operationId: getBorrowAttempt
      security:
        - walletAddress: []
          walletSignature: []
          walletTimestamp: []
      parameters:
        - name: attemptId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Attempt status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BorrowResult"
        "404":
          description: Not found
        "503":
          description: Service unavailable

  /v1/credit/borrow-attempts/{attemptId}/resume:
    post:
      tags: [Credit]
      summary: Resume stalled borrow attempt
      operationId: resumeBorrowAttempt
      security:
        - walletAddress: []
          walletSignature: []
          walletTimestamp: []
      parameters:
        - name: attemptId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Resumed transactions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionResult"

  /v1/credit/borrow-attempts/{attemptId}/abandon:
    post:
      tags: [Credit]
      summary: Abandon borrow attempt
      operationId: abandonBorrowAttempt
      security:
        - walletAddress: []
          walletSignature: []
          walletTimestamp: []
      parameters:
        - name: attemptId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Cleanup transactions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionResult"

  /v1/reputation-score/agents/{agentId}:
    get:
      tags: [Credit Score]
      summary: Agent creditworthiness score
      description: >
        Composite creditworthiness score (0–100) for a Floe agent, keyed on the
        numeric agent id. Composited from Cred Protocol per-wallet signals,
        Floe-native on-chain repayment history (from the indexer), and x402
        payment reputation (from the agent's `proxy_requests` settlement record)
        behind a swappable provider interface. Any authenticated caller (developer key
        `floe_live_*` or agent key `floe_*`) may query any agent id. Serves the
        latest cached score when fresh (TTL ~1 day) else recomputes and
        persists; `refresh=true` forces a recompute (tighter rate limit).
      operationId: getAgentCreditScore
      security:
        - agentApiKey: []
        - walletAddress: []
          walletSignature: []
          walletTimestamp: []
      parameters:
        - name: agentId
          in: path
          required: true
          description: Numeric Floe agent id.
          schema:
            type: string
            pattern: '^\d+$'
        - name: refresh
          in: query
          required: false
          description: Force a recompute instead of serving the cached score.
          schema:
            type: boolean
      responses:
        "200":
          description: Agent credit score (cache HIT or freshly computed MISS).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentCreditScore"
        "401":
          description: Authentication required.
        "404":
          description: Unknown agent id.
        "422":
          description: >
            Insufficient data — the request was valid but no provider produced a
            usable signal. Body is a typed `insufficient_data` envelope, never a
            fabricated score.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InsufficientCreditData"
        "429":
          description: Rate limit exceeded (per API key; tighter on refresh).
        "503":
          description: Credit score service not configured (indexer unavailable).

  /v1/proxy/check:
    get:
      tags: [Public]
      summary: Check if URL requires x402 payment
      operationId: proxyCheck
      security: []
      parameters:
        - name: url
          in: query
          required: true
          schema:
            type: string
            format: uri
      responses:
        "200":
          description: Payment check result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProxyCheckResult"
        "400":
          description: Invalid or blocked URL
        "429":
          description: Rate limit exceeded

  /v1/proxy/fetch:
    post:
      tags: [x402 Proxy]
      summary: Proxy request with automatic x402 payment
      operationId: proxyFetch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProxyFetchRequest"
      responses:
        "200":
          description: Target response (passthrough or paid)
          content:
            "*/*":
              schema:
                type: string
                format: binary
        "400":
          description: Invalid request or blocked URL
        "401":
          description: Missing auth, or wrong_credential_type (developer credential on an agent-only route — carries a `next` remediation block)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorNext"
        "402":
          description: Insufficient balance, spend limit, or policy exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum: [insufficient_balance, spend_limit_exceeded, policy_exceeded]
                  available:
                    type: string
                  required:
                    type: string
        "403":
          description: Agent suspended / credit frozen / host_not_allowlisted / read_only_key
        "429":
          description: Rate limit exceeded
        "502":
          description: Target unreachable or ambiguous payment

  /v1/x402/estimate:
    post:
      tags: [x402 Estimate]
      summary: Preflight cost estimate with credit reflection
      operationId: estimateX402Cost
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url]
              properties:
                url:
                  type: string
                  format: uri
                method:
                  type: string
                  pattern: "^[A-Z]{3,7}$"
      responses:
        "200":
          description: Cost estimate with reflection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/X402Estimate"
        "429":
          description: Rate limit exceeded

  /v1/models:
    get:
      tags: [Gateway]
      summary: List gateway models (OpenAI-compatible discovery)
      description: |
        The enabled inference catalog with capability hints. Model IDs are
        `provider/model` (e.g. `openai/gpt-4o-mini`, `deepgram/nova-3`).
        Accepts any authenticated /v1 credential — the agent-key requirement
        applies only to the paid inference routes. Mounted only when the
        `gateway` capability is enabled (probe GET /v1/capabilities).
      operationId: gatewayListModels
      security:
        - agentApiKey: []
        - developerSession: []
      responses:
        "200":
          description: Model list (OpenAI `list` envelope)
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    enum: [list]
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        object:
                          type: string
                          enum: [model]
                        created:
                          type: integer
                          description: Unix seconds (0 when the catalog row has no createdAt).
                        owned_by:
                          type: string
                          enum: [floe]
                        modality:
                          type: string
                        context_window:
                          type: integer
                          nullable: true

  /v1/chat/completions:
    post:
      tags: [Gateway]
      summary: OpenAI-compatible chat completion (keyless, metered)
      description: |
        Point any OpenAI SDK at `<base>/v1` with a Floe AGENT key and it
        works unmodified. Requires an agent API key — a developer credential
        is refused with 401 `wrong_credential_type` (the agent is the payer).
        Optional headers: X-Floe-Provider-Key (per-request BYOK override —
        also overrides any stored /v1/developer/provider-keys key),
        X-Floe-Task-Id, X-Floe-Action-Id, X-Floe-Customer-Id,
        X-Floe-Campaign-Id (the campaign or engagement this call belongs to —
        opaque, trimmed and lower-cased, and REJECTED to null over 128 chars
        rather than truncated, since a truncated id would mis-group one
        campaign's spend into another), X-Floe-Task-Type (WHAT KIND of work
        this was — `claims-intake`, `invoice-match`, `kyc-refresh` — same
        normalization but capped at 64, and likewise rejected rather than
        truncated; distinct from the outcome, which is what result the work
        reached), X-Floe-Channel (one of voice, chat, email, video, job, sms;
        anything else is refused with 400 `invalid_channel`).

        Every one of these is optional and opaque: Floe never interprets a tag
        value. They are persisted on the captured vendor leg, never on the
        money row, and roll up through /v1/developer/actuals/rollups and
        /v1/developer/interactions/rollups.

        With `stream: true` the response is SSE (`text/event-stream`); the
        cost cannot be a response header (it is only known at the terminal
        usage chunk), so it rides the debit + the OpenAI usage chunk instead
        of X-Floe-Cost-USDC. X-Floe-Budget-Advisory (flag-gated) is sent
        BEFORE the first token — the only budget signal a stream gets.
      operationId: gatewayChatCompletion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [model, messages]
              properties:
                model:
                  type: string
                  description: Catalog model id (`provider/model`).
                messages:
                  type: array
                  items:
                    type: object
                stream:
                  type: boolean
                  default: false
              additionalProperties: true
              description: Standard OpenAI chat-completion body — extra fields pass through to the provider.
      responses:
        "200":
          description: Completion (OpenAI shape) with billing headers, or SSE when stream=true
          headers:
            X-Floe-Cost-USDC:
              $ref: "#/components/headers/FloeCostUsdc"
            X-Floe-Payment-Amount:
              $ref: "#/components/headers/FloePaymentAmount"
            X-Floe-Payment:
              $ref: "#/components/headers/FloePayment"
            X-Floe-Model:
              $ref: "#/components/headers/FloeModel"
            X-Floe-Rail:
              $ref: "#/components/headers/FloeRail"
            X-Floe-Budget-Remaining-USDC:
              $ref: "#/components/headers/FloeBudgetRemaining"
            X-Floe-Attempts:
              $ref: "#/components/headers/FloeAttempts"
          content:
            application/json:
              schema:
                type: object
            text/event-stream:
              schema:
                type: string
        "400":
          description: Invalid JSON body / missing model (OpenAI error shape)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpenAiError"
        "401":
          description: Missing auth, or wrong_credential_type (developer credential on the agent-only gateway — carries an additive `next` remediation block alongside the OpenAI `error` object)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpenAiError"
        "402":
          description: Insufficient balance, spend limit, or policy exceeded
        "404":
          description: Unknown or disabled model
        "429":
          description: Per-agent rate limit exceeded (Retry-After set)
        "502":
          description: No source could serve the request

  /v1/embeddings:
    post:
      tags: [Gateway]
      summary: OpenAI-compatible embeddings (keyless, metered)
      description: |
        Same auth, BYOK, attribution headers, billing headers, and error
        contract as POST /v1/chat/completions (agent key required; developer
        credentials get 401 `wrong_credential_type`). No streaming.
      operationId: gatewayEmbeddings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [model, input]
              properties:
                model:
                  type: string
                input:
                  description: String or array of strings/tokens (OpenAI shape).
              additionalProperties: true
      responses:
        "200":
          description: Embedding list (OpenAI shape) with billing headers
          headers:
            X-Floe-Cost-USDC:
              $ref: "#/components/headers/FloeCostUsdc"
            X-Floe-Payment-Amount:
              $ref: "#/components/headers/FloePaymentAmount"
            X-Floe-Budget-Remaining-USDC:
              $ref: "#/components/headers/FloeBudgetRemaining"
        "401":
          description: Missing auth or wrong_credential_type
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpenAiError"
        "402":
          description: Insufficient balance, spend limit, or policy exceeded
        "404":
          description: Unknown or disabled model
        "429":
          description: Rate limit exceeded

  /v1/audio/speech:
    post:
      tags: [Gateway]
      summary: Text-to-speech (OpenAI-compatible, binary out)
      description: |
        Voice gateway TTS. Agent key required (401 `wrong_credential_type`
        for developer credentials). OpenAI-shaped providers plus Google
        Gemini TTS; proprietary voice vendors (ElevenLabs/Cartesia/Deepgram)
        are marketplace vendors reached via /v1/proxy/fetch, not here.
      operationId: gatewayAudioSpeech
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [model, input]
              properties:
                model:
                  type: string
                input:
                  type: string
                voice:
                  type: string
              additionalProperties: true
      responses:
        "200":
          description: Audio bytes with billing headers
          headers:
            X-Floe-Cost-USDC:
              $ref: "#/components/headers/FloeCostUsdc"
            X-Floe-Payment-Amount:
              $ref: "#/components/headers/FloePaymentAmount"
            X-Floe-Payment:
              $ref: "#/components/headers/FloePayment"
            X-Floe-Model:
              $ref: "#/components/headers/FloeModel"
            X-Floe-Rail:
              $ref: "#/components/headers/FloeRail"
          content:
            "*/*":
              schema:
                type: string
                format: binary
        "401":
          description: Missing auth or wrong_credential_type
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpenAiError"
        "402":
          description: Insufficient balance, spend limit, or policy exceeded
        "404":
          description: Unknown or disabled model
        "429":
          description: Rate limit exceeded

  /v1/audio/transcriptions:
    post:
      tags: [Gateway]
      summary: Batch speech-to-text (OpenAI-compatible multipart)
      description: |
        Voice gateway STT. Agent key required (401 `wrong_credential_type`
        for developer credentials). Multipart form; extra fields pass
        through to the provider. The streaming-STT WebSocket
        (`/v1/audio/transcriptions/stream`) is a separate WS surface that
        also accepts agent keys only.
      operationId: gatewayAudioTranscription
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [model, file]
              properties:
                model:
                  type: string
                file:
                  type: string
                  format: binary
      responses:
        "200":
          description: Transcription (OpenAI shape) with billing headers
          headers:
            X-Floe-Cost-USDC:
              $ref: "#/components/headers/FloeCostUsdc"
            X-Floe-Payment-Amount:
              $ref: "#/components/headers/FloePaymentAmount"
            X-Floe-Payment:
              $ref: "#/components/headers/FloePayment"
            X-Floe-Model:
              $ref: "#/components/headers/FloeModel"
            X-Floe-Rail:
              $ref: "#/components/headers/FloeRail"
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Invalid multipart body, missing model or file
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpenAiError"
        "401":
          description: Missing auth or wrong_credential_type
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpenAiError"
        "402":
          description: Insufficient balance, spend limit, or policy exceeded
        "404":
          description: Unknown or disabled model
        "429":
          description: Rate limit exceeded

  /v1/estimate:
    post:
      tags: [Gateway]
      summary: Gateway cost estimate for a usage vector
      description: |
        Prices a hypothetical usage vector against the catalog — no balance
        check, no upstream call, nothing is charged. Powers the MCP tool,
        the AgentKit action, and the dashboard estimator. Accepts any
        authenticated /v1 credential (not agent-key-gated).
      operationId: gatewayEstimate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [model]
              properties:
                model:
                  type: string
                  description: Catalog model id (`provider/model`).
                input_tokens:
                  type: integer
                  minimum: 1
                output_tokens:
                  type: integer
                  minimum: 1
                cached_input_tokens:
                  type: integer
                  minimum: 1
                characters:
                  type: integer
                  minimum: 1
                audio_seconds:
                  type: integer
                  minimum: 1
                audio_input_tokens:
                  type: integer
                  minimum: 1
                audio_output_tokens:
                  type: integer
                  minimum: 1
      responses:
        "200":
          description: Estimate
          content:
            application/json:
              schema:
                type: object
                properties:
                  model:
                    type: string
                  rail:
                    type: string
                  provider:
                    type: string
                  margin_bps:
                    type: integer
                  usage:
                    type: object
                  upstream_cost_usdc:
                    type: string
                    description: Decimal USDC string.
                  cost_usdc:
                    type: string
                    description: Decimal USDC string (upstream + margin).
                  cost_raw:
                    type: string
                    description: Total charge, raw USDC (6 decimals).
        "400":
          description: Invalid JSON body / missing model
        "404":
          description: unknown_model
        "422":
          description: unpriceable_usage — no source can price the given usage for this model

  /v1/agents/balance:
    get:
      tags: [Agent]
      summary: Balance and credit facility info
      operationId: getAgentBalance
      responses:
        "200":
          description: Balance details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentBalance"

  /v1/agents/credit-remaining:
    get:
      tags: [Agent]
      summary: Credit headroom for decision gates
      operationId: getCreditRemaining
      responses:
        "200":
          description: Credit remaining
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreditRemaining"

  /v1/agents/loan-state:
    get:
      tags: [Agent]
      summary: Coarse loan state machine
      operationId: getLoanState
      responses:
        "200":
          description: Current state
          content:
            application/json:
              schema:
                type: object
                properties:
                  state:
                    type: string
                    enum: [idle, borrowing, repaying, at_limit]
                  reason:
                    type: string
                  details:
                    type: object

  /v1/agents/transactions:
    get:
      tags: [Agent]
      summary: Paginated payment history
      operationId: getAgentTransactions
      parameters:
        - name: cursor
          in: query
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 100
      responses:
        "200":
          description: Transaction list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionList"

  /v1/agents/spend-limit:
    get:
      tags: [Agent]
      summary: Get session spend limit
      operationId: getSpendLimit
      responses:
        "200":
          description: Spend limit state
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SpendLimit"
    put:
      tags: [Agent]
      summary: Set session spend limit (resets window)
      description: |
        Resets the spend window. Exception: while the agent is
        selfServiceLocked the cap may only be LOWERED and the running
        window is preserved (accrued spend keeps counting).
      operationId: setSpendLimit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [limitRaw]
              properties:
                limitRaw:
                  type: string
                  pattern: "^\\d+$"
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SpendLimit"
        "403":
          description: self_service_locked — the cap may only be lowered
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorNext"
    delete:
      tags: [Agent]
      summary: Remove session spend limit
      operationId: deleteSpendLimit
      responses:
        "200":
          description: Removed
          content:
            application/json:
              schema:
                type: object
                properties:
                  active:
                    type: boolean
                    enum: [false]
        "403":
          description: self_service_locked — the cap cannot be removed with an agent key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorNext"

  /v1/agents/credit-thresholds:
    get:
      tags: [Agent]
      summary: List credit threshold subscriptions
      operationId: getCreditThresholds
      responses:
        "200":
          description: Subscriptions
          content:
            application/json:
              schema:
                type: object
                properties:
                  subscriptions:
                    type: array
                    items:
                      $ref: "#/components/schemas/CreditThreshold"
    post:
      tags: [Agent]
      summary: Create credit threshold subscription
      operationId: createCreditThreshold
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [thresholdBps]
              properties:
                thresholdBps:
                  type: integer
                  minimum: 1
                  maximum: 10000
                webhookId:
                  type: integer
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreditThreshold"
        "409":
          description: Limit reached (max 20)

  /v1/agents/credit-thresholds/{id}:
    delete:
      tags: [Agent]
      summary: Remove credit threshold
      operationId: deleteCreditThreshold
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted:
                    type: integer

  /v1/agents/close:
    post:
      tags: [Agent]
      summary: Wind down agent
      operationId: closeAgent
      responses:
        "200":
          description: Winddown status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CloseResult"

  /v1/developer/agents:
    get:
      tags: [Developer]
      summary: List managed agents
      operationId: devListAgents
      security:
        - developerSession: []
      responses:
        "200":
          description: Agent list
          content:
            application/json:
              schema:
                type: object
                properties:
                  agents:
                    type: array
                    items:
                      $ref: "#/components/schemas/ManagedAgent"
    post:
      tags: [Developer]
      summary: Create managed agent (Privy wallet + delegation + welcome credit)
      description: |
        Full provisioning: reserves the agents row, creates the Privy
        executor + payment-signer wallets, submits the on-chain operator
        delegation (sponsored), flips the agent to `active`, and disburses
        the welcome credit to the payment signer (pay-as-you-go default,
        `fundingMode: wallet`). Emits the `agent.created` webhook event on
        success. Does NOT return an API key — mint one via
        POST /v1/developer/agents/{agentId}/keys.
      operationId: devCreateAgent
      security:
        - developerSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, maxRateBps, expirySeconds]
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 64
                  pattern: "^[A-Za-z0-9 _-]+$"
                borrowLimitRaw:
                  type: string
                  pattern: "^[1-9]\\d*$"
                  description: Optional on-chain operator borrow limit (raw USDC, 6 decimals). Omitted → wallet-funded agent with the default delegation limit.
                maxRateBps:
                  type: integer
                  minimum: 1
                  maximum: 10000
                expirySeconds:
                  type: integer
                  minimum: 60
                  maximum: 31536000
      responses:
        "201":
          description: Agent provisioned and active
          content:
            application/json:
              schema:
                type: object
                properties:
                  agentId:
                    type: integer
                  status:
                    type: string
                    enum: [active]
                  privyWalletAddress:
                    type: string
                    description: The agent's deposit address (see GET /v1/developer/agents/{agentId}/funding).
                  delegationTxHash:
                    type: string
                  welcomeCreditTxHash:
                    type: string
                    description: Present only when the welcome credit was disbursed.
        "409":
          description: >
            Two distinct refusals share this status. `plan_limit_exceeded` —
            the account is at its plan's `agentsMax` (free 5, pro 25,
            agency 100; Enterprise unlimited). `name_conflict` — an agent of
            that name already exists. P2.5 replaced the flat cap of 5 and the
            old `{ error: limit_exceeded, max }` body.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/PlanLimitExceeded"
                  - type: object
                    required: [error, detail]
                    properties:
                      error:
                        type: string
                        enum: [name_conflict]
                      detail:
                        type: string
        "502":
          description: privy_provisioning_failed | delegation_failed (agents row stays pending_delegation)
        "503":
          description: agent_creation_unavailable (Privy / delegation service not configured)

  /v1/developer/agents/{agentId}:
    get:
      tags: [Developer]
      summary: Get agent detail
      operationId: devGetAgent
      security:
        - developerSession: []
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Agent detail with credit usage + recent activity snapshot
          content:
            application/json:
              schema:
                type: object
                properties:
                  agent:
                    $ref: "#/components/schemas/ManagedAgent"
                  creditUsed:
                    type: string
                  recentTransactionCount24h:
                    type: integer
                  sessionSpend:
                    type: object
                    properties:
                      limitRaw:
                        type: string
                        nullable: true
                      startedAtUnix:
                        type: integer
                        nullable: true
        "404":
          description: Agent not found or not owned by caller

  /v1/developer/agents/{agentId}/close:
    post:
      tags: [Developer]
      summary: Wind an agent down (repay loans, sweep USDC, mark closed)
      description: |
        Triggers the wind-down service: repays all active facility loans for
        the agent via the facilitator, transfers any remaining USDC from the
        agent's Privy wallet back to the developer, and marks the agent
        `closed`. Idempotent — calling on an already-closed agent returns
        `{ status: 'closed', loansRepaid: 0, loansRemaining: 0 }`.

        This is the only path that fully retires an agent. `floe-agent revoke`
        only revokes the API key; the operator permission, active loans, and
        on-chain state are untouched.
      operationId: devCloseAgent
      security:
        - developerSession: []
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Wind-down result
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [closed]
                  loansRepaid:
                    type: integer
                  loansRemaining:
                    type: integer
                  repayTxHashes:
                    type: array
                    items:
                      type: string
                  transferTxHash:
                    type: string
                    nullable: true
                  usdcTransferred:
                    type: string
                    nullable: true
        "404":
          description: Agent not found or not owned by caller
        "500":
          description: winddown_failed (inspect detail; the agent stays in its prior state)
        "503":
          description: winddown_unavailable (WinddownService not configured)

  /v1/developer/agents/{agentId}/keys:
    get:
      tags: [Developer]
      summary: List agent API keys (prefix only) with budgets
      operationId: devListAgentKeys
      security:
        - developerSession: []
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Key list
          content:
            application/json:
              schema:
                type: object
                properties:
                  keys:
                    type: array
                    items:
                      $ref: "#/components/schemas/ApiKeySummary"
        "404":
          description: Agent not found or not owned by caller
    post:
      tags: [Developer]
      summary: Mint API key for agent (optionally with a spend budget)
      description: |
        Emits the `key.created` webhook event. When `budgetRaw` is provided
        the key is capped at creation time (fail-closed — if the budget
        write fails, no key is issued).
      operationId: devCreateKey
      security:
        - developerSession: []
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: string
                  maxLength: 100
                permissions:
                  type: string
                  enum: [read, read_write]
                budgetRaw:
                  type: string
                  pattern: "^[1-9]\\d*$"
                  description: Optional per-key spend budget (raw USDC, 6 decimals).
                windowSeconds:
                  type: integer
                  minimum: 60
                  maximum: 31536000
      responses:
        "201":
          description: Key created (plaintext `key` shown once)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKey"
        "409":
          description: >
            Two distinct refusals share this status, because two different
            things can cap an agent's keys. `plan_limit_exceeded` — the agent
            is at its plan's `keysPerAgentMax` (free 5, pro 10, agency 25;
            Enterprise unlimited), and upgrading raises it.
            `deployment_limit_exceeded` — the MAX_KEYS_PER_AGENT env var is
            set and binds regardless of plan, including on Enterprise. That
            body carries NO `upgradeUrl`: no purchase can lift an operator's
            environment override, so advertising one would be false.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/PlanLimitExceeded"
                  - type: object
                    required: [error, message, limit, max, current]
                    properties:
                      error:
                        type: string
                        enum: [deployment_limit_exceeded]
                      message:
                        type: string
                      limit:
                        type: string
                        enum: [keys_per_agent]
                      max:
                        type: integer
                        description: The MAX_KEYS_PER_AGENT value this deployment is running with.
                      current:
                        type: integer
                        description: Active keys observed on the agent at the moment of refusal.

  /v1/developer/agents/{agentId}/keys/{keyId}:
    delete:
      tags: [Developer]
      summary: Revoke API key
      operationId: devRevokeKey
      security:
        - developerSession: []
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            type: integer
        - name: keyId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Revoked
          content:
            application/json:
              schema:
                type: object
                properties:
                  revoked:
                    type: boolean

  /v1/developer/agents/{agentId}/keys/{keyId}/rotate:
    post:
      tags: [Developer]
      summary: Atomic key rotation (revoke + mint)
      operationId: devRotateKey
      security:
        - developerSession: []
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            type: integer
        - name: keyId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "201":
          description: New key (fullKey shown once)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKey"

  /v1/developer/agents/{agentId}/open-credit-line:
    post:
      tags: [Developer]
      summary: Open a managed agent's USDC/USDC credit line
      description: |
        Server-signs registerBorrowIntent from the agent's managed Privy wallet,
        creating an in-flight facility_loans row that the existing reconciler
        + solver advance to status='active' asynchronously. The agent's Privy
        wallet must hold at least `depositRaw` USDC before this is called.

        USDC/USDC same-token market only. Borrow amount is
        `depositRaw * maxLtvBps / 10000` (default 95%).

        The response shape returns the in-flight row's id + the on-chain
        registerTxHash. `borrowIntentHash` is null on initial return — the
        reconciler fills it in after the receipt confirms and parses
        LogBorrowerOfferPosted. Once the solver matches the intent against
        an open lend offer, status flips to 'active' and BalanceService
        starts including the loan in `creditIn` for paid /proxy/fetch calls.
      operationId: devOpenCreditLine
      security:
        - developerSession: []
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [depositRaw]
              properties:
                depositRaw:
                  type: string
                  pattern: "^[1-9]\\d*$"
                  description: USDC deposit amount, raw 6-decimal units (e.g. "10000000000" = $10K).
                maxLtvBps:
                  type: integer
                  minimum: 1
                  maximum: 9500
                  description: Optional LTV cap in bps. Defaults to 9500 (95%).
                maxRateBps:
                  type: integer
                  minimum: 1
                  maximum: 10000
                  description: Optional max interest rate ceiling. Defaults to the agent's `maxRateBps`.
      responses:
        "201":
          description: Credit-line opening submitted; awaiting solver match
          content:
            application/json:
              schema:
                type: object
                properties:
                  loanId:
                    type: string
                    description: Synthetic placeholder `pending:<uuid>` until the on-chain loanId is recorded.
                  borrowIntentHash:
                    type: string
                    nullable: true
                  approveTxHash:
                    type: string
                    nullable: true
                    description: Null when the Privy wallet's existing allowance was already sufficient.
                  registerTxHash:
                    type: string
                  principalRaw:
                    type: string
                  collateralAmountRaw:
                    type: string
                  rateBps:
                    type: integer
                  status:
                    type: string
                    enum: [pending_on_chain]
        "400":
          description: invalid input | insufficient_privy_balance | agent_not_managed | invalid_max_ltv | invalid_deposit
        "404":
          description: Agent not found or not owned by caller
        "409":
          description: agent_not_active | delegation_expired | existing_active_credit_line
        "502":
          description: rpc_read_failed | market_not_created | privy_send_failed
        "503":
          description: ManagedCreditLineService not initialized (Privy missing)

  /v1/capabilities:
    get:
      tags: [Public]
      summary: Feature-flag capabilities probe
      description: |
        Reports which env-flag-mounted surfaces are live on this deployment
        so clients can distinguish "disabled" from "broken". Public.
      operationId: getCapabilities
      security: []
      responses:
        "200":
          description: Capability booleans + API version
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Capabilities"

  /v1/playground/vendors:
    get:
      tags: [Developer]
      summary: Verified-live vendor probe results (playground)
      description: |
        Cached results of the real x402 probe calls the scheduler makes
        against marketplace vendors, so the dashboard playground can render
        "verified live · Nh ago" proof + a health badge. Developer session
        required; `down`-path error excerpts can carry Floe operational
        detail, hence not public.
      operationId: getPlaygroundVendors
      security:
        - developerSession: []
      responses:
        "200":
          description: Latest cached probe per vendor + server `now` for freshness rendering
          content:
            application/json:
              schema:
                type: object
                properties:
                  now:
                    type: string
                    format: date-time
                  vendors:
                    type: array
                    items:
                      type: object
                      properties:
                        vendor:
                          type: string
                        name:
                          type: string
                        endpoint:
                          type: string
                        method:
                          type: string
                        priceUsdc:
                          type: string
                        status:
                          type: string
                        responseExcerpt:
                          type: string
                          nullable: true
                        costRaw:
                          type: string
                          nullable: true
                          description: Probe charge, raw USDC (6 decimals).
                        latencyMs:
                          type: integer
                          nullable: true
                        checkedAt:
                          type: string
                          format: date-time
        "401":
          description: Developer session required
        "429":
          description: IP rate limit exceeded

  /v1/developer/auth/verify:
    post:
      tags: [Developer]
      summary: Exchange a fresh wallet signature for a dashboard session
      operationId: devAuthVerify
      description: |
        Wallet sign-in for the dashboard: the request carries the wallet
        signature headers (X-Wallet-Address + X-Signature + X-Timestamp, the
        same EIP-191 message the SDKs sign), and the server issues the
        `floe_session` cookie for exactly that wallet. On this path the
        signature headers alone decide identity: an existing `floe_session`
        cookie or Bearer JWT is ignored, and a request authenticated by an
        API key or a session (rather than a fresh signature) is refused — a
        key or a stale cookie can never start a new dashboard session. The
        session is always for the wallet that signed, never for an account
        selected with `X-Floe-Account` / the `floe_account` cookie.

        This route never links or pins a Privy user to the account: any body
        field other than `src` — including a `privyAccessToken` — is ignored.
        The signed message names no route or Privy user and is valid for
        five minutes, so it cannot be allowed to bind one; Privy users are
        pinned only by POST /v1/developer/auth/privy, from a verified token.
      security:
        - walletAddress: []
          walletSignature: []
          walletTimestamp: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                src:
                  type: string
                  description: >
                    First-touch acquisition source (`?src=` / utm_source).
                    Sanitized to `[a-z0-9_-]`, max 64 chars; written only when
                    this sign-in creates the account.
      responses:
        "200":
          description: >
            Session issued — `floe_session` set as an HttpOnly cookie (7-day
            sliding window). `developer.privyDid` is the Privy user the
            account is already pinned to (by an earlier email / Google
            sign-in), or null; this route never changes it.
          headers:
            Set-Cookie:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required: [developer]
                properties:
                  developer:
                    $ref: "#/components/schemas/DeveloperSession"
        "401":
          description: >
            Missing, stale (outside 5 minutes) or invalid wallet signature
            headers, or the request was authenticated by an API key or an
            existing session instead of a fresh signature

  /v1/developer/auth/privy:
    post:
      tags: [Developer]
      summary: Exchange a Privy access token for a dashboard session (email / Google sign-in)
      operationId: devAuthPrivy
      description: |
        FLO-784. Email and Google sign-in for the dashboard: exchanges a
        verified Privy access token for the same `floe_session` cookie that
        POST /v1/developer/auth/verify issues — with no wallet signature.

        The token is read ONLY from `Authorization: Bearer <Privy access
        token>` (never the body); a `Bearer floe_…` API key is refused. The
        server verifies it (ES256 signature, issuer `privy.io`, audience = this
        deployment's Privy app, expiry), fetches the user's current linked
        accounts from Privy and picks the Floe account itself. A Privy token
        minted for a DIFFERENT Privy app is a deployment misconfiguration
        (503 `privy_app_mismatch`), not a bad token (401). Nothing else the
        client sends — wallet headers, `X-Floe-Account`, the `floe_account` or
        an existing `floe_session` cookie — can choose it.

        Account resolution is existing-account-first: the account already
        pinned to this Privy user; else the one existing account among the
        user's linked Ethereum wallets (several → the Privy embedded wallet's,
        else `identity_ambiguous`); else a NEW account keyed by the Privy
        embedded wallet (or by the single linked external wallet). Before a
        new account is created, a `walletHint` naming a different, existing
        account refuses with `wallet_signature_required` unless the request
        says `allowNew: true`. The Privy user id is then pinned to the
        account, write-once. On success a verified email fills an empty
        `email`, the embedded wallet is recorded as `embeddedWalletAddress`,
        and a first-ever sign-in sends the welcome email.

        On `wallet_signature_required` the caller already has a Floe account
        and must choose: create a new one (repeat this request with
        `allowNew: true`), or continue with the existing one by signing in to
        Privy the way that account was created — with its wallet, or with the
        email / Google account used before — which this route then resolves to
        that account. `identity_ambiguous` and `identity_conflict` cannot be
        settled here: sign in with a wallet signature (POST
        /v1/developer/auth/verify), which proves which account is meant.
        `embedded_wallet_pending` means retry shortly.

        This is the only route that pins a Privy user to an account; POST
        /v1/developer/auth/verify never does.

        Rate limited per Privy user to 24 requests per minute — sized above
        the dashboard's own `embedded_wallet_pending` retries, Try again
        included. That bucket is keyed on a DID taken from a token that has
        already verified, so it cannot be forged, and it is the real control.

        A 30/minute per-client-IP bucket sits in front of it as defence in
        depth only. It keys on the left-most `X-Forwarded-For` hop, which is
        caller-supplied wherever the proxy appends rather than overwrites, so
        treat it as best-effort: rotating the header dodges it. Keying the
        right-most hop instead would lump every user behind one shared proxy
        into a single bucket and lock them out of sign-in.
      security:
        - privyAccessToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                src:
                  type: string
                  description: >
                    First-touch acquisition source (`?src=` / utm_source).
                    Sanitized to `[a-z0-9_-]`, max 64 chars; written only when
                    this sign-in creates the account.
                walletHint:
                  type: string
                  pattern: "^0x[a-fA-F0-9]{40}$"
                  description: >
                    The Floe account this browser already uses (its live or
                    last session). Never chooses the account: it is read only
                    when this sign-in would CREATE a new account, and then can
                    only downgrade the exchange to `wallet_signature_required`
                    — when it is NOT one of the Privy user's linked wallets but
                    already has a Floe account.
                allowNew:
                  type: boolean
                  description: >
                    `true` = the user explicitly chose to create a new account
                    over the one `walletHint` names (the answer to
                    `wallet_signature_required`): skips the `walletHint` check.
                    It is also the answer to `case_identity`
                    (`canContinueAsDeveloper: true`): the person chose their
                    own developer account, and signup proceeds. It never overrides an existing or pinned account, nor
                    `identity_ambiguous` / `embedded_wallet_pending`. Only
                    `true` has an effect; `false` / null are the same as
                    absent.
      responses:
        "200":
          description: Session issued — `floe_session` set as an HttpOnly cookie (7-day sliding window). The token is never in the body.
          headers:
            Set-Cookie:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required: [developer, isNew]
                properties:
                  developer:
                    $ref: "#/components/schemas/DeveloperSession"
                  isNew:
                    type: boolean
                    description: True when this sign-in created the account.
        "400":
          description: invalid_request — Content-Type is not application/json, the body is not a JSON object, `walletHint` is not an address, or `allowNew` is not a boolean
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivyAuthError"
        "401":
          description: >
            invalid_privy_token — the Authorization header is missing, carries
            a `floe_` API key, or the token is expired / invalid (malformed,
            bad signature, not issued by `privy.io`), or its Privy user no
            longer exists. A token for another Privy app is a 503, not this.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivyAuthError"
        "403":
          description: >
            case_identity — no developer account exists for this identity and
            the verified email is an ACTIVE member of a shared case: that
            person signs in on the case link (a case session), not here. The
            body names no case and carries `canContinueAsDeveloper: true`: the
            person may still create their own developer account by repeating
            the request with `allowNew: true`. An existing developer, or an
            email whose case memberships are all revoked, signs in as usual.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivyAuthError"
        "409":
          description: >
            embedded_wallet_pending (`retryable: true` — the Privy user has no
            Ethereum wallet yet; the dashboard creates the embedded wallet just
            after sign-in, so retry shortly), wallet_signature_required (this
            sign-in would create a new account but the `walletHint` account
            already exists — continue with that account, or repeat with
            `allowNew: true`),
            identity_ambiguous (several candidate accounts, or several linked
            external wallets and no embedded wallet), identity_conflict (the
            account is already pinned to a different Privy user)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivyAuthError"
        "429":
          description: rate_limited — too many attempts for this client IP or Privy user (`retryAfterSeconds` + a `Retry-After` header say when)
          headers:
            Retry-After:
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivyAuthError"
        "502":
          description: >
            privy_unavailable — Privy could not be reached, timed out,
            rate-limited this server or answered 5xx while verifying the token
            or reading the user. Transient: retry with backoff (the dashboard
            does).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivyAuthError"
        "503":
          description: >
            Not transient; retrying does not help.
            privy_auth_unavailable — Privy sign-in is not usable on this
            deployment: it is not configured (PRIVY_APP_ID / PRIVY_APP_SECRET
            unset), or Privy rejects the configured app credentials (a wrong
            or rotated PRIVY_APP_SECRET, or an app id Privy does not
            recognize). Sign in with a wallet signature (POST
            /v1/developer/auth/verify) instead.
            privy_app_mismatch — the token was minted for a different Privy
            app than this deployment's PRIVY_APP_ID (the dashboard's
            NEXT_PUBLIC_PRIVY_APP_ID must name the same app; the server logs
            `privy_login_app_mismatch` with both ids). Do NOT fall back to a
            wallet signature: the caller's Privy wallet belongs to the other
            app, so /auth/verify would sign it in to a different, new
            account. Nothing signs in until the deployment is fixed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivyAuthError"

  /v1/developer/profile:
    get:
      tags: [Developer]
      summary: Developer profile + agents + credit usage
      operationId: devGetProfile
      security:
        - developerSession: []
      responses:
        "200":
          description: Profile (includes `aiToolConnectedAt`, the first floe-cli/ / floe-mcp/ User-Agent seen) + full agents list with per-agent creditUsed
          content:
            application/json:
              schema:
                type: object
                properties:
                  developer:
                    type: object
                    properties:
                      walletAddress:
                        type: string
                      displayName:
                        type: string
                        nullable: true
                      email:
                        type: string
                        nullable: true
                      accountId:
                        type: string
                        nullable: true
                      role:
                        type: string
                        nullable: true
                        enum: [owner, admin, member, viewer, null]
                      createdAt:
                        type: string
                        format: date-time
                      embeddedWalletAddress:
                        type: string
                        nullable: true
                      embeddedWalletExportedAt:
                        type: string
                        format: date-time
                        nullable: true
                      privyDid:
                        type: string
                        nullable: true
                        description: |
                          FLO-784 — the SIGNED-IN human's Privy user id
                          (`did:privy:…`), pinned on their first
                          POST /v1/developer/auth/privy sign-in. NULL for a
                          human who has only ever signed in with a wallet
                          signature. Read from the caller's own account, even
                          when a teammate is acting in someone else's.
                      walletActivatedAt:
                        type: string
                        format: date-time
                        nullable: true
                        description: |
                          FLO-784 — when the signed-in human opted into the
                          wallet UI (PATCH /v1/developer/me
                          `walletActivated: true`); NULL until then. UI gating
                          only — money routes enforce their own auth. Read from
                          the caller's own account, like `privyDid`.
                      aiToolConnectedAt:
                        type: string
                        format: date-time
                        nullable: true
                      customerAttribution:
                        type: string
                        enum: [optional, required]
                        description: |
                          Rebilling T1 — `required` makes the gateway refuse
                          untagged metered calls pre-spend.
                      unitNoun:
                        type: string
                        enum: [call, conversation, task, meeting, interaction, resolution]
                        description: |
                          P1.8 — the console's noun for ONE unit of work.
                          DISPLAY ONLY: nothing prices, groups or reconciles by
                          it, and the rate-card engine keeps its own unit.
                          Defaults to `call`.
                      campaignNoun:
                        type: string
                        enum: [campaign, queue]
                        description: |
                          P2.3 — the console's noun for a GROUP of work (what
                          /campaigns and its nav entry are called). DISPLAY
                          ONLY: `campaign_id` keeps its name on the wire and in
                          the `X-Floe-Campaign-Id` header whatever this says,
                          so renaming the header never renames the tag.
                          Defaults to `campaign`.
                      plan:
                        type: object
                        description: FLO-701 effective plan summary (resolved by planContext, no extra read). Drives PlanGate, the past-due banner and history clamps in the dashboard.
                        properties:
                          name:
                            $ref: "#/components/schemas/AccountPlanName"
                          source:
                            $ref: "#/components/schemas/AccountPlanSource"
                          limits:
                            $ref: "#/components/schemas/PlanLimits"
                          features:
                            type: array
                            items:
                              $ref: "#/components/schemas/PlanFeature"
                          subscriptionStatus:
                            type: string
                            nullable: true
                          pastDue:
                            type: boolean
                          currentPeriodEnd:
                            type: string
                            format: date-time
                            nullable: true
                          cancelAt:
                            type: string
                            format: date-time
                            nullable: true
                          upgradeUrl:
                            type: string
                  agents:
                    type: array
                    items:
                      allOf:
                        - $ref: "#/components/schemas/ManagedAgent"
                        - type: object
                          properties:
                            creditUsed:
                              type: string
        "404":
          description: Developer not registered

  /v1/developer/me:
    patch:
      tags: [Developer]
      summary: Update the account name, console settings, embedded-wallet audit fields, or the wallet opt-in
      operationId: devUpdateMe
      description: |
        Partial update — send only the fields that change (at least one).
        Every field is validated and permission-checked before anything is
        written, so a request refused on any field (400 / 403 / 404) leaves
        the account untouched — including the fields that were valid.

        `displayName` and `customerAttribution` change the ACCOUNT and need the
        owner or admin role. `embeddedWalletAddress` / `embeddedWalletExported`
        concern the Privy embedded wallet for the CDP non-custodial review and
        are accepted only on your own account, once the SERVER has recorded
        your session wallet as your Privy embedded wallet (POST
        /v1/developer/auth/privy does this from Privy's verified linked
        accounts at email / Google sign-in). A Privy user id alone is not
        enough — external-wallet accounts have one too. `walletActivated`
        records the signed-in human's own opt-in to the wallet UI.
      security:
        - developerSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                displayName:
                  type: string
                  minLength: 1
                  maxLength: 100
                  description: Account name. Owner / admin only.
                customerAttribution:
                  type: string
                  enum: [optional, required]
                  description: |
                    Rebilling T1 — `required` makes the gateway refuse untagged
                    metered calls pre-spend. Owner / admin only.
                unitNoun:
                  type: string
                  enum: [call, conversation, task, meeting, interaction, resolution]
                  description: The console's noun for one unit of work. Display only.
                campaignNoun:
                  type: string
                  enum: [campaign, queue]
                  description: The console's noun for a group of work. Display only.
                embeddedWalletAddress:
                  type: string
                  pattern: "^0x[a-fA-F0-9]{40}$"
                  description: |
                    The Privy embedded wallet. Accepted only as a confirmation
                    of the value the server already recorded — it must equal
                    both the session wallet and the recorded embedded wallet,
                    and never writes. Kept for older dashboards; anything else
                    is 403.
                embeddedWalletExported:
                  type: boolean
                  enum: [true]
                  description: Record a private-key export (audit trail). Requires the server-recorded embedded wallet to be the session wallet; otherwise 403.
                walletActivated:
                  type: boolean
                  enum: [true]
                  description: |
                    FLO-784 — the signed-in human opts into the wallet UI (the
                    dashboard's "Activate wallet" step on Funding). Stamped
                    once on the CALLER's own account, never cleared; a repeat
                    returns the original time. Only `true` is accepted.
      responses:
        "200":
          description: Updated account
          content:
            application/json:
              schema:
                type: object
                properties:
                  developer:
                    type: object
                    properties:
                      walletAddress:
                        type: string
                      displayName:
                        type: string
                        nullable: true
                      accountId:
                        type: string
                        nullable: true
                      embeddedWalletAddress:
                        type: string
                        nullable: true
                      embeddedWalletExportedAt:
                        type: string
                        format: date-time
                        nullable: true
                      customerAttribution:
                        type: string
                        enum: [optional, required]
                      walletActivatedAt:
                        type: string
                        format: date-time
                        nullable: true
                        description: The signed-in human's own wallet opt-in (see GET /v1/developer/profile).
        "400":
          description: Body is not a JSON object, no updatable field was sent, or a field is invalid (e.g. `walletActivated` other than `true`)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Developer credential required
        "403":
          description: Role below owner / admin for an account-level field, or an embedded-wallet field when your own account has no server-recorded embedded wallet equal to the session wallet (external-wallet accounts, signature-only sign-ins, or another account)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Developer not registered — the account, or (with `walletActivated`) your own row when you are acting in a teammate's account

  /v1/developer/keys:
    get:
      tags: [Developer]
      summary: List developer API keys (prefix only)
      operationId: devListDeveloperKeys
      security:
        - developerSession: []
      responses:
        "200":
          description: Key list
          content:
            application/json:
              schema:
                type: object
                properties:
                  keys:
                    type: array
                    items:
                      $ref: "#/components/schemas/ApiKeySummary"
    post:
      tags: [Developer]
      summary: Mint a developer key (floe_live_*, plaintext shown once)
      description: Owner/admin role required. Emits the `key.created` webhook event.
      operationId: devCreateDeveloperKey
      security:
        - developerSession: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: string
                  maxLength: 100
                permissions:
                  type: string
                  enum: [read, read_write]
      responses:
        "201":
          description: Key created (plaintext `key` shown once)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKey"
        "409":
          description: >
            plan_limit_exceeded — the account is at its plan's `apiKeysMax`
            (free 5, pro 25, agency 100; Enterprise unlimited). Body carries
            `limit: api_keys`, `max`, `current` and `upgradeUrl`. P2.5 CHANGED
            THIS: it was previously `400 Limit exceeded` against a flat cap of 5.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlanLimitExceeded"

  /v1/developer/keys/{keyId}:
    delete:
      tags: [Developer]
      summary: Revoke a developer key
      operationId: devRevokeDeveloperKey
      security:
        - developerSession: []
      parameters:
        - name: keyId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Revoked
        "404":
          description: Key not found or already revoked

  /v1/developer/keys/{keyId}/rotate:
    post:
      tags: [Developer]
      summary: Atomic developer-key rotation (revoke + mint)
      description: Emits the `key.rotated` webhook event.
      operationId: devRotateDeveloperKey
      security:
        - developerSession: []
      parameters:
        - name: keyId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: string
                  maxLength: 100
                permissions:
                  type: string
                  enum: [read, read_write]
      responses:
        "201":
          description: New key (plaintext `key` shown once)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKey"
        "404":
          description: Key not found or already revoked

  /v1/developer/provider-keys:
    get:
      tags: [Developer]
      summary: List stored BYOK provider keys (masked — never key material)
      operationId: devListProviderKeys
      security:
        - developerSession: []
      responses:
        "200":
          description: Stored vendor keys + the vendors a key can be stored for
          content:
            application/json:
              schema:
                type: object
                properties:
                  providerKeys:
                    type: array
                    items:
                      $ref: "#/components/schemas/ProviderKeySummary"
                  supportedProviders:
                    type: array
                    items:
                      type: string

  /v1/developer/provider-keys/{provider}:
    put:
      tags: [Developer]
      summary: Save or replace the account's own vendor API key (BYOK)
      description: >
        Owner/admin role required. With a key stored, gateway calls from the
        account's agents route through it — the developer's own vendor credits
        pay for inference and Floe bills only the BYOK service fee; keyless
        rails remain as fallback. The per-request X-Floe-Provider-Key header
        still overrides. Emits the `provider_key.created` webhook event (covers
        replace). The plaintext key is never returned by any endpoint.
      operationId: devPutProviderKey
      security:
        - developerSession: []
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
          description: Catalog provider id (openai, anthropic, google, ...)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [key]
              properties:
                key:
                  type: string
                  minLength: 8
                  maxLength: 512
                  description: The vendor API key. Stored AES-256-GCM encrypted.
                label:
                  type: string
                  maxLength: 100
                  description: >
                    When OMITTED on a replace, the existing row's label is
                    preserved.
                enabled:
                  type: boolean
                  description: >
                    New rows default to true. When OMITTED on a replace, the
                    existing row's enabled state is preserved — rotating a key
                    never silently re-enables a deliberately disabled provider.
      responses:
        "201":
          description: Stored (masked summary — plaintext never echoed)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProviderKeySummary"
        "400":
          description: Unknown provider or invalid key shape
    patch:
      tags: [Developer]
      summary: Enable/disable a stored provider key without re-entering it
      description: Emits the `provider_key.updated` webhook event.
      operationId: devPatchProviderKey
      security:
        - developerSession: []
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [enabled]
              properties:
                enabled:
                  type: boolean
      responses:
        "200":
          description: Updated
        "404":
          description: No stored key for this provider
    delete:
      tags: [Developer]
      summary: Remove a stored provider key (hard delete of the ciphertext)
      description: Emits the `provider_key.deleted` webhook event.
      operationId: devDeleteProviderKey
      security:
        - developerSession: []
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Removed
        "404":
          description: No stored key for this provider

  /v1/developer/agents/{agentId}/status:
    patch:
      tags: [Developer]
      summary: Pause / resume an agent (kill-switch)
      description: |
        Allowed transitions only: active → suspended (pause) and
        suspended → active (resume). A pause takes effect on the agent's
        next call (agent-key auth 403s suspended agents).
      operationId: devPatchAgentStatus
      security:
        - developerSession: []
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [active, suspended]
      responses:
        "200":
          description: Updated (idempotent when already in the requested state)
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  status:
                    type: string
                  suspendedReason:
                    type: string
                    nullable: true
        "404":
          description: Agent not found or not owned by caller
        "409":
          description: invalid_status_transition | status_conflict

  /v1/developer/agents/{agentId}/funding:
    get:
      tags: [Developer]
      summary: Machine-readable funding instructions
      operationId: devGetAgentFunding
      security:
        - developerSession: []
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Funding card — deposit address, chain, token contract, forwarding status, spendable balance
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FundingInstructions"
        "404":
          description: Agent not found or not owned by caller
        "409":
          description: agent_not_provisioned (no deposit wallet yet)

  /v1/developer/agents/{agentId}/self-service-lock:
    get:
      tags: [Developer]
      summary: Read the agent's tighten-only lock
      operationId: devGetSelfServiceLock
      security:
        - developerSession: []
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Lock state
          content:
            application/json:
              schema:
                type: object
                properties:
                  locked:
                    type: boolean
        "404":
          description: Agent not found or not owned by caller
    put:
      tags: [Developer]
      summary: Set the agent's tighten-only lock
      description: |
        When locked, the agent's OWN key may only tighten its guardrails —
        PUT /v1/agents/spend-limit must lower the cap, DELETE is refused,
        and policy writes may only add/tighten. Developer-authed surfaces
        are unaffected.
      operationId: devSetSelfServiceLock
      security:
        - developerSession: []
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [locked]
              properties:
                locked:
                  type: boolean
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  locked:
                    type: boolean
        "404":
          description: Agent not found or not owned by caller

  /v1/developer/agents/{agentId}/credit-line-bounds:
    get:
      tags: [Developer]
      summary: Credit-line preview — LTV bounds, funded balances, in-flight/active loan
      operationId: devGetCreditLineBounds
      security:
        - developerSession: []
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Bounds + balances
          content:
            application/json:
              schema:
                type: object
                properties:
                  minLtvBps:
                    type: integer
                  maxLtvBps:
                    type: integer
                  maxRateBpsCap:
                    type: integer
                  agentMaxRateBps:
                    type: integer
                    nullable: true
                  walletBalanceRaw:
                    type: string
                  spendableBalanceRaw:
                    type: string
                  paymentSignerWalletAddress:
                    type: string
                    nullable: true
                  fundingMode:
                    type: string
                    enum: [wallet, credit_line]
                  fundedSpendableRaw:
                    type: string
                    nullable: true
                  fundedPendingRaw:
                    type: string
                    nullable: true
                  availableRaw:
                    type: string
                    nullable: true
                    description: |
                      Ledger-derived spendable balance for EVERY funding mode (raw
                      6-dp USDC) — the exact number every enforcement path gates on
                      (x402 tools, phone rental, the limit chain, Test-a-call). This
                      is the "Spendable now" figure; walletBalanceRaw /
                      spendableBalanceRaw are on-chain holdings, which the ledger may
                      or may not count. Null only on a ledger derive failure.
                  ledgerSpentRaw:
                    type: string
                    nullable: true
                    description: Ledger creditOut (settled + in-flight spend, platform fee included) that pairs with availableRaw.
                  ledgerCreditInRaw:
                    type: string
                    nullable: true
                    description: Ledger creditIn (wallet_credits for wallet mode, active loan principal for credit_line). availableRaw = creditIn − ledgerSpentRaw − unspent task holds.
                  inFlightLoan:
                    type: object
                    nullable: true
                  activeLoan:
                    type: object
                    nullable: true
                  closePreview:
                    type: object
                    nullable: true
        "404":
          description: Agent not found or not owned by caller
        "409":
          description: agent_not_active
        "502":
          description: rpc_read_failed | market_not_created

  /v1/developer/agents/{agentId}/policies:
    get:
      tags: [Developer]
      summary: List an agent's spend policies
      operationId: devListAgentPolicies
      security:
        - developerSession: []
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            type: integer
        - name: includeRevoked
          in: query
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: Policy list
          content:
            application/json:
              schema:
                type: object
                properties:
                  policies:
                    type: array
                    items:
                      $ref: "#/components/schemas/AgentPolicy"
        "404":
          description: Agent not found or not owned by caller
    post:
      tags: [Developer]
      summary: Create a spend policy for an agent
      operationId: devCreateAgentPolicy
      security:
        - developerSession: []
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePolicyRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  policy:
                    $ref: "#/components/schemas/AgentPolicy"
        "409":
          description: duplicate_active_policy

  /v1/developer/agents/{agentId}/policies/{policyId}:
    patch:
      tags: [Developer]
      summary: Update a spend policy
      operationId: devUpdateAgentPolicy
      security:
        - developerSession: []
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            type: integer
        - name: policyId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Partial update — same fields as CreatePolicyRequest minus kind/matchKey.
      responses:
        "200":
          description: Updated policy
        "404":
          description: Policy or agent not found
    delete:
      tags: [Developer]
      summary: Revoke a spend policy
      operationId: devDeleteAgentPolicy
      security:
        - developerSession: []
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            type: integer
        - name: policyId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Revoked
        "404":
          description: Policy or agent not found

  /v1/developer/policies:
    get:
      tags: [Developer]
      summary: List team-wide (all-agents) policies
      operationId: devListTeamPolicies
      security:
[...]
